# Python
__pycache__/
*.py[cod]
*.egg-info/
dist/
build/

# Virtual environments
.venv/

# Tools
.ruff_cache/
.pytest_cache/

# Environment
.env

# Database
*.db

# OS
.DS_Store
Thumbs.db

# IDE
.idea/
.vscode/
*.swp
